<link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/halloween/styles.css}}">
<div class="belvg-popup-halloween belvg-popup-halloween__theme1 belvg-popup-halloween__step1">
        <div class="belvg-popup-halloween__image">
            <img src="{{media url=promopopup/images/universal/popup/4.png}}" alt="" />
        </div>
        <div class="belvg-popup-halloween__content">
            <div class="belvg-popup-halloween__title">Let's start shopping!</div>
            <div class="belvg-popup-halloween__note">Get a promo code: <code>GYFFVSH</code> for every purchase</div>
        </div>
</div>
