<link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/halloween/styles.css}}">
<div class="belvg-popup-halloween belvg-popup-halloween__theme1 belvg-popup-halloween__step1">
    <div class="belvg-popup-halloween__image">
        <img src="{{media url=promopopup/images/black-friday/popup/black-friday-2.png}}" alt="" />
    </div>
    <div class="belvg-popup-halloween__content">
        <div class="belvg-popup-halloween__title">Ready for Black Friday?</div>
        <div class="belvg-popup-halloween__note">Get a dark promo code on your email!</div>
        <form class="form" id="cpp-form">
            <div class="belvg-popup-halloween__input">
                <input type="email" value="" placeholder="Your Email" />
            </div>
            <div  class="belvg-popup-halloween__actions">
                <button type="submit" class="action primary"><span>Subscribe</span></button>
            </div>
        </form>
    </div>
</div>
