<link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/halloween/styles.css}}">
 <div class="belvg-popup-halloween belvg-popup-halloween__theme2 belvg-popup-halloween__step3">
        <div class="belvg-popup-halloween__image">
              <img src="{{media url=promopopup/images/halloween/popup2/halloween.png}}" alt="" />
        </div>
        <div class="belvg-popup-halloween__content">
            <div class="belvg-popup-halloween__title">Let's get the Halloween night started!</div>
            <div class="belvg-popup-halloween__note">Use promo code: <code>GYFFVSH</code> for every purchase</div>
        </div>
    </div>
