<link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/halloween/styles.css}}">
<div class="belvg-popup-halloween belvg-popup-halloween__theme1 belvg-popup-halloween__step3">
        <div class="belvg-popup-halloween__image">
            <img src="{{media url=promopopup/images/cyber-monday/popup/cyber-monday-2.png}}" alt="" />
        </div>
        <div class="belvg-popup-halloween__content">
            <div class="belvg-popup-halloween__title">Let's start the Cyber Monday sales!</div>
            <div class="belvg-popup-halloween__note">Use promo code: <code>GYFFVSH</code> for every purchase</div>
        </div>
</div>
