<link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/halloween/styles.css}}">
<div class="belvg-popup-halloween belvg-popup-halloween__theme2 belvg-popup-halloween__step2">
    <div class="belvg-popup-halloween__image">
        <img src="{{media url=promopopup/images/black-friday/popup/black-friday-8.png}}" alt="" />
    </div>
    <div class="belvg-popup-halloween__content">
        <div class="belvg-popup-halloween__title">Let's start the Black Friday sales!</div>
        <div class="belvg-popup-halloween__note">Get <em>5% discount</em> for every purchase</div>
        <form class="form" id="cpp-form">
            <div class="belvg-popup-halloween__input">
                <input type="email" value="" placeholder="Your Email" />
            </div>
            <div  class="belvg-popup-halloween__actions">
                <button type="submit" class="action primary"><span>Get My Discount</span></button>
            </div>
        </form>
    </div>
</div>
