<aside role="dialog"
       class="modal-<%- data.type %> <%- data.modalClass %>
               <% if(data.responsive){ %><%- data.responsiveClass %><% } %>
               <% if(data.innerScroll){ %><%- data.innerScrollClass %><% } %>"
<% if(data.title){ %> aria-labelledby="modal-title-<%- data.id %>"<% } %>
aria-describedby="modal-content-<%- data.id %>"
data-role="modal"
data-type="<%- data.type %>"
tabindex="0">
<div data-role="focusable-start" tabindex="0"></div>
<div class="modal-inner-wrap"
     data-role="focusable-scope">
    <header class="modal-header">
        <button
                class="action-close"
                data-role="closeBtn"
                type="button">
            <span><%= data.closeText %></span>
        </button>
    </header>
    <div id="modal-content-<%- data.id %>"
         class="modal-content"
         data-role="content"></div>
</div>
<div data-role="focusable-end" tabindex="0"></div>
</aside>
