//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .modal-popup.custom-promo-popup-modal {
    .modal-header,
    .modal-content {
      padding: 0;
    }

    .action-close {
      padding: 0;
      top: @indent__xs;
      right: @indent__xs;
      border-radius: 0;
      z-index: 1;

      &:before {
        color: @color-black;
        background: @color-white;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 100%;
      }
    }

    .modal-inner-wrap {
      margin: 0;
    }

    .modal-footer {
      padding: @indent__base;
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .modal-popup.custom-promo-popup-modal {
    left: @indent__base;
    right: @indent__base;

    .modal-inner-wrap {
      height: auto;
      position: relative;
      top: 40%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .modal-popup.custom-promo-popup-modal.modal-slide {
    .modal-inner-wrap {
      width: auto;
      max-width: 75%;
      top: 40%;
      left: 50%;
      right: auto;
      -webkit-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%);
    }

    .modal-footer {
      text-align: left;
    }
  }
}
